<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grapevine" version="4.1.1.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net462" />
  <package id="SuperSocket.Engine" version="1.6.6.1" targetFramework="net462" />
</packages>