JARVIS.Server/bin
JARVIS.Server/obj
JARVIS.Shared/bin
JARVIS.Shared/obj
JARVIS.userprefs
packages
*.csproj.user
JARVIS.Shard/bin
JARVIS.Shard/obj
deploy
JARVIS.Core/bin
JARVIS.Core/obj
JARVIS/bin
JARVIS/obj
JARVIS.Client.Mac/bin
JARVIS.Client.Mac/obj
JARVIS.Client/bin
JARVIS.Client/obj
