<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.dotBunny.JARVIS</string>
		<key>Program</key>
		<string>/usr/local/share/dotnet/dotnet</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/share/dotnet/dotnet</string>
			<string>/Users/reapazor/JARVIS/production/JARVIS/JARVIS.dll</string>
			<string>--host</string>
			<string>192.168.1.114</string>
		</array>
		<key>UserName</key>
		<string>reapazor</string>
		<key>GroupName</key>
		<string>staff</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true />
		<key>WorkingDirectory</key>
		<string>/Users/reapazor/JARVIS/production/JARVIS/</string>
		<key>StandardErrorPath</key>
		<string>/Users/reapazor/JARVIS/production/launchctl.log</string>
		<key>StandardOutPath</key>
		<string>/Users/reapazor/JARVIS/production/launchctl.log</string>
	</dict>
</plist>